<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>AAA</title>
</head>
<body>
<div class="one_line">
  <div class="face">
    <img src="/assets/face1.png">
  </div>
  <div class="balloon-left">こんにちは。これは例です。</div>
</div>
  <div class="twiform">
    <form method="post" action="/twitt/create">
    <p>
      <input type="text" name="contents" /><br/>
      <input type="submit" value="ツイートする" />
    </p>
    </form>
</li>
</ul>
</body>
</html>