<!DOCTYPE html>
<%= @notice %>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>AAA</title>
</head>
<body>
<div class="one_line">
  <div class="face"><img src="/assets/face01.png"></div>
  <div class="balloon-left">こんにちは。これは例です。</div>
</div>
<div class="one_line">
  <div class="balloon-right">
    <div class="twiform">
      <form method="post" action="/twitt/create">
        <input type="text" name="contents" /><br/>
        <input type="submit" value="ツイートする" />
      </form>
    </div>
  </div>
  <div class="face">
    <img src="/assets/face11.png">
  </div>
</div>
<div class="one_line">
  <div><%= @notice %></div>
</div>
</body>
</html>