// Place all the styles related to the twitt controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #007BFF !important;
  background-image: url("/assets/01/back.png");
  background-size: auto 85%;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

.header_area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #ffffff;  
  z-index: 100;
  text-align: center;
  align-items: center;
}

.header_area a:visited {
  color: #000;
}

.header_area a:hover {
  color: #555;
}

.header_contents {
  width: 60%;
  display: inline-block;
  text-align: left;
}

.title{
  font-family: Neucha,cursive;
  font-size: 30px;
}

.infomation {
  text-align: right;
}

.infomation_area {
  width: 100vw;
  position: absolute;
  top: 50px;
  left: 0;
  background: #fff;
  color: #555;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

// vueのtransition start
.trans_slide-enter-active, .trans_slide-leave-active {
  transition: all .5s;
}
.trans_slide-enter, .trans_slide-leave-to {
  height: 0;
}
// vueのtransition end

.info_close_button{
  text-align: right;
}

.infomation_contents {
  width: 60%;
  display: inline-block;
  text-align: left;
}

.char_select_area {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: #ffffff;  
  z-index: 100;
}

.char_area {
  background: #fff;
  text-align: center;
  height: auto;
  overflow: hidden;
}

.char-select img{
  width: 30px;
  height: auto;
}

.char_select_area_button{
  text-align: center;
}

.story {
  width: 60%;
  margin: 0 auto;
  max-width: 70%;
}

.face img{
  width: 300px;
  height: auto;
}

.face_mob img{
  width: 150px;
  height: auto;
}

.one_line {  
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.baloon-area {  
  width: 100%;
}

.balloon-left, .balloon-right {
  position: relative;
  margin: 1.5em 1.5em 1.5em 1.5em;
  padding: 40px 20px;
  color: #555;
  font-size: 18px;
  background: #ffffff;
  border-radius: 10px;
}

.balloon-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #ffffff;
}

.balloon-right:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #ffffff;
}

.hid {
  display: none;
}

footer{
  text-align: center;
}
